body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#content {
	flex: 1;
}

body {
	min-width: 860px;
	margin: 0px;
}

.bar {
	background: linear-gradient(to bottom, #3E99E8, #278EE8);
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.bar > * {
	display: flex;
	flex: 1;
	align-items: center;
	width: auto;
}

.bar > * > * {
	width: 100%;
	text-align: center;
}

.bar > * > button {

}

#search-field > input {
	width: 60%;
	font-size: large;
}
#guest-buttons, #user-buttons  {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#guest-buttons > button, #user-buttons > * {
	display: flex;
	font-size: large;
}

#user-buttons {
	display: none;
}

#content {
	display: flex;
	margin: 0px auto;
	width: 80%;
}

#content > * {
	float: left;
	margin: 0;
	text-align: center;
}

#posts {
	width: 75%;
	background-color: aliceblue;
	padding: 25px;
}

#submit-post {
	display: none;
}

#sidebar {
	padding: 20px 0;
	width: 25%;
	background-color: antiquewhite;
}

#sidebar > a {
	display: inline-block;
	text-align: center;
	padding: 20px;
	font-size: 22px;
}

#sidebar > nav {
	display: flex;
	flex-direction: column;
}

.post-title {
	font-size: 24pt;
	text-align: center;
}

#post > p {
	margin: 50px;
}

#sign-in {
	align-items: center;
	display: flex;
	justify-content: space-around;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	min-width: 100vw;
	min-height: 100vh;
	display: none;
}

#sign-in > * {
	width: 30vw;
	height: 60vh;
	background: oldlace;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

form {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#sign-in form {
	display: none;
}

#sign-in input {
	width: 80%;
	min-height: 2vh;
	font-size: 1rem;
}

#sign-in .buttons {
	display: flex;
	position: inherit;
	width: 80%;
	flex-direction: row;
	justify-content: space-around;
}

#sign-in button {
	font-size: 1rem;
}

p { 
	font-size: 18pt;
	text-indent: 30px;
	text-align: left;
}

img {
	max-width: 80%;
	max-height: 300px;
}

p > img {
	float: right;
	padding: 5px;
	padding-right: 0;
}
